@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    height: 400px;
    align-items: center;
}
.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(128, 128, 128,.2);
}
.box {
    width: 25%;
    margin: 10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255,.8);
}
.box .line1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}
.box .line1 .noti {
    display: flex;
}
.box .line2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}
.line1 #head{
    font-weight: 600;
}
.line2 i{
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 50%;
}
.line2 h2 {
    font-size: 1.2rem;
}
/* Responsive for Mobile */
@media screen and (max-width:576px) {
    body {
        padding: 0px 0px;
        flex-direction: column;
        height: 950px;
    }
    .row {
        flex-direction: column;
        height: 800px;
    }
    .row .box {
        width: 90%;
    }
    
}